.navbar{
    background-color:#061121;
    margin : 0px 10% 0px;
}
.link{
    text-decoration: none;
    color : white;
    font-family: 'Poppins';
    padding:0px;
}
.headlink{
    text-decoration: none;
    color : white;
    font-family: 'Poppins';
    font-size: 1.5rem;
}
